<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--This source is used by the AzureDevops pipeline-->
    <!--It assumes that you configure a nuget (dotnet) restore to store nuget packages in a 'NugetPackage' folder during the build process --> 
    <!--The issue was initially discovered when trying to use a dockerfile to do a build that had dependencies on our private nuget repo, and needs credentials  --> 
    <!--This way we're restoring the packages to the 'NugetPackage' folder before the docker build, and copying them in-->
   <!-- <add key="local" value="NugetPackage" /> -->
  </packageSources>
</configuration>